{% extends 'base.html.twig' %}

{% block title %}Hello GeneralController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="div-12 pb-5 pt-5">
            <h1 class="text-center">Netflex and Bagarre !</h1>
        </div>
        <div class="col-6">
            <p>J'espère qu'il y aura un ratrappage </p>
        </div>
    </div>
</div>
{% endblock %}
