{% extends 'base.html.twig' %}

{% block title %}Hello GeneralController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="div-12 pb-5 pt-5">
            <h1 class="text-center">Netflex and Bagarre !</h1>
        </div>
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloremque dolores ea enim ex itaque laborum, maxime minus molestiae officiis quae quasi, qui ratione similique suscipit ullam velit veniam voluptate! </p>
        </div>
    </div>
</div>
{% endblock %}
